html {
  margin: 0; }

body {
  margin: 0; }

textarea.input {
  resize: none;
  margin: 0px; }

div.lines {
  padding: 2px; }

pre.line {
  margin: 0px; }

p.line {
  margin: 0px; }

button.send {
  margin: 0px; }
