doctype html
html(ng-app="app")
    head
        title Teptavl（てぷたぶる）
        meta(charset="UTF-8")

        link(rel="stylesheet" href="css/default/easyui.css")
        link(rel="stylesheet" href="css/icon.css")
        link(rel="stylesheet" href="css/style.css")

        script(src="js/jquery-2.1.0.min.js")
        script(src="js/jquery.easyui.min.js")
        script(src="js/angular.min.js")
        script(src="js/angular-cookies.min.js")
        script(src="js/angular-local-storage.min.js")
        script(src="js/mutate.events.js")
        script(src="js/mutate.min.js")
        script(src="js/script.js")

        audio#se(controls=false preload="auto")
            source(src="sound/swing.wav" type="audio/wav")
            source(src="sound/swing.ogg" type="audio/ogg")

    body(ng-controller="TeptavlCtrl")

        div(ng-repeat="(key, windowInfo) in windows" window="windowInfo")
            div(layout ng-if="key === 'main' || key === 'sub'")
                div.lines(data-options="region: 'center'" auto-scroll)
                    p.line(ng-repeat="line in windowInfo.lines") {{line.item}}
                    p.line(ng-repeat="(id, name) in windowInfo.typings") {{name}}: ✎...

                div(data-options="region:'south', split:true" style='height:48px')
                    textarea.input(fit-parent ng-model="windowInfo.input" ng-trim="false" ng-keydown="inputKeyDown(key, $event)" ng-keyup="inputKeyUp(key, $event)")

            div(layout ng-if="key === 'system'")
                div.lines(data-options="region: 'center'" auto-scroll)
                    pre.line(ng-repeat="line in windowInfo.lines") {{line.item}}

            div(layout ng-if="key === 'player'")
                div(data-options="region: 'center'")
                    input.playerName(type="text" fit-parent ng-model="windowInfo.name" ng-keyup="playerNameKeyUp(key, $event)")

            div(layout ng-if="key === 'players'")
                div.lines(data-options="region: 'center'")
                    p.line(ng-repeat="(id, name) in windowInfo.names") {{name}}
