<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Teptavl（てぷたぶる）</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/default/easyui.css">
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/jquery.easyui.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>
    <script src="js/mutate.events.js"></script>
    <script src="js/mutate.min.js"></script>
    <script src="js/script.js"></script>
    <audio id="se" preload="auto">
      <source src="sound/swing.wav" type="audio/wav">
      <source src="sound/swing.ogg" type="audio/ogg">
    </audio>
  </head>
  <body ng-controller="TeptavlCtrl">
    <div ng-repeat="(key, windowInfo) in windows" window="windowInfo">
      <div layout ng-if="key === 'main' || key === 'sub'">
        <div data-options="region: 'center'" auto-scroll class="lines">
          <p ng-repeat="line in windowInfo.lines" class="line">{{line.item}}</p>
        </div>
        <div data-options="region:'south', split:true" style="height:48px">
          <textarea fit-parent ng-model="windowInfo.input" ng-trim="false" ng-keydown="updateInput(key, $event)" class="input"></textarea>
        </div>
      </div>
      <div layout ng-if="key === 'system'">
        <div data-options="region: 'center'" auto-scroll class="lines">
          <pre ng-repeat="line in windowInfo.lines" class="line">{{line.item}}</pre>
        </div>
      </div>
      <div layout ng-if="key === 'player'">
        <div data-options="region: 'center'">
          <input id="playerName" type="text" ng-model="windowInfo.name" fit-parent style="margin: 0px">
        </div>
      </div>
      <div layout ng-if="key === 'players'">
        <div data-options="region: 'center'" class="lines">
          <p ng-repeat="(id, name) in windowInfo.names" class="line">{{name}}</p>
        </div>
      </div>
    </div>
  </body>
</html>